In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import chisquare

In [3]:
df = pd.read_csv("E:/read_csv/chi_square.csv")

In [4]:
df

          Event  Observed  Expected
0    Successful        41        33
1  Unsuccessful        59        67

In [5]:
t_stat,p_val = chisquare(f_obs = df['Observed'],f_exp = df['Expected'])

In [6]:
p_val

0.08887585044058065

p_val>0.5  so we fail to reject null hypothesis