In [1]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [12]:
data = pd.read_csv("E:/read_csv/onesample.csv")

In [15]:
data = data['Insect Length']

In [17]:
data.head()

0    6.55
1    6.67
2    6.56
3    6.63
4    6.39
Name: Insect Length, dtype: float64

In [18]:
t_statistic, _ = ttest_1samp(data,6.09)

In [19]:
print(t_statistic)

5.466112820736585

t-statistic > t-critical so we reject null hypothesis

In [20]:
df = pd.read_csv("E:/read_csv/ttest.csv")

In [21]:
df

    Hauz Khas  Defence Colony
0         180             220
1         100             200
2         120             240
3         220             180
4         160             160
5         100             260
6         140             280
7         260             300
8         240             240
9         260             220
10        180             260
11        160             160
12        200             180
13        120             220

In [22]:
df.head()

   Hauz Khas  Defence Colony
0        180             220
1        100             200
2        120             240
3        220             180
4        160             160

In [32]:
from scipy.stats import ttest_ind

In [34]:
t_statistic, p_value = ttest_ind(df['Hauz Khas'],df['Defence Colony'][0:14], equal_var= True)

In [36]:
print(p_value)

0.016265528741336886